/******************************************************************************

/* ABOUT PAGE */

.flex-container-about-intro {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 320px;
	margin: 188px 6px 24px;
	background: #1b4040;
}
.flex-container-about-intro h1,
.about-techne-two h3 {
	color: white;
	padding: 0 25px 0 25px;
}
.flex-container-about-techne {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 480px;
	margin: 24px 6px 24px;
}

.about-techne-one {
	flex: 1;
	box-shadow: inset 0px 0px 0px 6px #1b4040;
	min-height: 200px;
}

.about-techne-two {
	background: #1b4040;
	flex: 1;
	padding-right: 6px;
	flex-direction: column;
}
.about-techne-two h2 {
	color: white;
}

/******************************************************************************
/* responsiveness */

@media only screen and (max-width: 770px) {
	.flex-container-about-intro {
		max-height: 320px;
		margin: 130px 6px 24px;
	}
}
