/******************************************************************************

/* BLOG PAGE */

.flex-container-headline {
	min-height: 480px;
	margin: 188px 6px 24px;
}

.headline-image {
	box-shadow: inset 0px 0px 0px 6px #3d4042;
	min-height: 320px;
}

.headline-text {
	background: #3d4042;
	flex: 1;
	flex-direction: column;
}

.headline-text h2,
.headline-text h3 {
	color: white;
}

.flex-container-blog {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 480px;
	margin-top: 12px;
}

#blog-row-two {
	display: none;
}

.view-older-posts-button {
	background-color: #f0f0f0;
	color: #3d4042;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	display: flex;
	flex-wrap: wrap;
	margin: 24px auto 3px auto;
}

.blog-post {
	display: flex;
	flex-direction: column;
	max-height: 450px;
	flex: 1;
	margin: 6px;
}

.blog-image {
	background-position: center center;
	flex: 4;
	box-shadow: inset 0px 0px 0px 6px #3d4042;
	min-height: 200px;
}

.blog-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #3d4042;
	min-height: 120px;
}

.blog-details h2 {
	color: white;
	margin: 3px 0 0 0;
}

.blog-details h3 {
	color: white;
	margin: 3px 0 0 0;
}

.blog-details h6 {
	color: white;
	margin: 0 0 6px 0;
}

/******************************************************************************

/* BLOG POST */

.flex-container-headline-image {
	background-position: center center;
	max-height: 480px;
	margin: 188px auto 0px;
}

.flex-container-blog-post-images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 320px;
	margin: 24px;
}

.blog-post-one,
.blog-post-two {
	flex: 1;
	min-height: 200px;
	margin: 3px;
}

p.blog-copy {
	text-align: left;
	margin: 24px;
}

h2.title-text {
	margin: 24px;
	padding: 0px;
}
h3.title-text {
	margin: 24px;
	padding: 0px;
}

h6 {
	color: #3d4042;
}

.text-links {
	color: #3d4042;
}

ol {
	padding: 12px;
}
li.blog-bullets {
	color: #3d4042;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	text-align: left;
	font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1024 - 375)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1024 - 375)));
	padding: 6px;
	margin: auto 24px;
}

/******************************************************************************
/* responsiveness */
@media only screen and (max-width: 1000px) {
	.flex-container-blog {
		margin-top: 3px;
		margin-bottom: 3px;
		min-height: 900px;
	}

	.blog-details {
		max-height: 150px;
	}
}

@media only screen and (max-width: 670px) {
	.flex-container-blog {
		margin-top: 3px;
		margin-bottom: 3px;
		min-height: 1350px;
	}

	.blog-details {
		max-height: 150px;
	}
}
@media only screen and (max-width: 450px) {
	.flex-container-headline {
		min-height: 530px;
		margin: 130px 6px 0px;
	}
	.flex-container-blog {
		margin-top: 3px;
		margin-bottom: 3px;
		min-height: 650px;
	}

	.flex-container-headline-image {
		min-height: 200px;
	}

	.view-older-posts-button {
		margin-top: 6px;
	}
}

@media only screen and (max-width: 450px) {
	.flex-container-blog {
		min-height: 1400px;
		margin-top: 3px;
		margin-bottom: 3px;
	}
}
