/******************************************************************************

/* BLOG PAGE */

.flex-container-headline {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 488px;
	margin: 188px 6px 24px;
}

.headline-image {
	background-image: url("Image Assets/Image_01.jpg");
	background-size: cover;
	flex: 1;
	box-shadow: inset 0px 0px 0px 6px #3d4042;
	min-height: 320px;
}

.headline-text {
	background: #3d4042;
	flex: 1;
	flex-direction: column;
}

.headline-text h2,
.headline-text h3 {
	color: white;
}

.flex-container-blog {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 450px;
}

#blog-row-two {
	display: none;
}

.view-older-posts-button {
	background-color: #f0f0f0;
	color: #3d4042;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	display: flex;
	flex-wrap: wrap;
	margin: 15px auto;
}

.blog-post {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 6px;
}

.blog-image {
	background-image: url("Image Assets/Image_01.jpg");
	background-size: cover;
	flex: 3;
}

.blog-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #3d4042;
}

.blog-details h2 {
	color: white;
	margin: 12px 0 0 0;
}

.blog-details h6 {
	color: white;
	margin: 0 0 12px 0;
}

/******************************************************************************

/* BLOG POST */

.flex-container-headline-image {
	background-image: url("Image Assets/Image_01.jpg");
	background-size: cover;
	height: 480px;
	margin: 188px auto 24px;
}

.title {
	padding-top: 24px;
	padding-bottom: 12px;
}

.flex-container-blog-post-images {
	display: flex;
	flex-direction: row;
	height: 320px;
	margin-top: 48px;
	margin-bottom: 48px;
}

.blog-post-one {
	background-image: url("Image Assets/Image_02.jpg");
	background-size: cover;
	flex: 2;

	margin-right: 6px;
}
.blog-post-two {
	background-image: url("Image Assets/Image_02.jpg");
	background-size: cover;
	flex: 2;

	margin-left: 6px;
}

/******************************************************************************
/* responsiveness */

@media only screen and (max-width: 700px) {
	.flex-container-headline {
		max-height: 320px;
		margin: 130px 6px 24px;
	}

	.flex-container-headline {
		min-height: 600px;
	}
}
