/******************************************************************************

/* HOME PAGE */

/* Shop all row */

.flex-container-shop-all {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 488px;
	margin: 188px 6px 24px;
}

.shop-all-one {
	background-image: url("Image Assets/Image_01.jpg");
	background-size: cover;
	background-position: center center;
	flex: 2;
	box-shadow: inset 0px 0px 0px 6px #1b4040;
	min-height: 200px;
}

.shop-all-two {
	background: #1b4040;
	flex: 1;
	min-height: 100px;
}

/* Shop product sections row */

.flex-container-product-sections {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 320px;
}

.shop-planners,
.shop-planner-inserts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 320px;
	margin: 6px;
	flex: 1;
}

.shop-planners-img,
.shop-planner-inserts-img {
	background-image: url("Image Assets/Image_02.jpg");
	background-size: cover;
	background-position: center center;
	flex: 2;
	box-shadow: inset 0px 0px 0px 6px #966161;
	min-height: 200px;
}

.shop-planners-details {
	background: #966161;
	flex: 1;
	min-height: 100px;
}

.shop-planner-inserts-img {
	background-image: url("Image Assets/Image_03.jpg");
	background-size: cover;
	background-position: center center;
	flex: 2;
	box-shadow: inset 0px 0px 0px 6px #647973;
	min-height: 200px;
}

.shop-planner-inserts-details {
	background: #647973;
	flex: 1;
	min-height: 100px;
}

/******************************************************************************
/* responsiveness */

@media only screen and (max-width: 650px) {
	.flex-container-shop-all {
		max-height: 320px;
		margin: 130px 6px 24px;
	}
}
