/******************************************************************************

/* SHOP PAGE */

/* product boxes */

.shop-title {
	margin: 188px auto 24px;
	display: flex;
	height: 80px;
	background: #647973;
}

.shop-title,
h1 {
	color: white;
}

.flex-container-products {
	flex-direction: column;
	padding-bottom: 48px;
	display: block;
}

.flex-container-product {
	display: flex;
	height: 500px;
	flex: 1;
	padding-bottom: 6px;
}

.product-image {
	min-width: 200px;
	margin-left: 6px;
	margin-right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}

.product-details {
	flex-direction: column;
	padding: 24px;
	background: #647973;
}

.product-details h2 {
	color: white;
}

.product-details p {
	text-align: center;
	color: white;
}

.product-details h6 {
	padding: 24px;
	color: white;
}

/******************************************************************************

/* Feature Product */

.feature-product {
	display: flex;
	flex-direction: row;
	height: 480px;
	margin-bottom: 24px;
}

.feature-product-image {
	flex: 2;
	box-sizing: border-box;
	border: 6px solid #647973;
	margin-right: 6px;
}
.feature-product-details {
	flex: 1;
	margin-right: 6px;
	text-align: center;
	align-content: center;
}

/******************************************************************************

/* Product rows*/

.product-row {
	display: flex;
	flex-direction: row;
	height: 321px;
}

.product-one-image,
.product-two-image,
.product-three-image,
.product-four-image {
	flex: 2;
	box-sizing: border-box;
	border: 6px solid #647973;
	margin-right: 6px;
}
.product-one-details,
.product-two-details,
.product-three-details,
.product-four-details {
	flex: 1;
	box-sizing: border-box;
	border: 6px solid #647973;
	text-align: center;
	align-content: center;
}

/******************************************************************************

/* Product Description */

.product-details p h6 {
	text-align: center;
}

/******************************************************************************

/* Basket*/

.basket {
	background: white;
	flex: 1;
}
.basket-title h1 {
	color: #647973;
}

.basket-boxes {
	display: flex;
	flex-direction: row;
}

.basket-blank {
	flex: 1;
	margin-right: 18px;
}

.basket-row {
	display: flex;
	flex-direction: row;
	padding: 24px;
}

.basket-total {
	display: flex;
	flex-direction: row;
	padding: 24px;
}

.basket-price {
	flex: 1;
	text-align: left;
}

.basket-total-title,
.basket-total-price {
	flex: 1;
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-align: left;
}

.basket-item {
	flex: 2;
}

.basket-quantity {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.basket-items {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid #1b4040;
}

.basket-item-title,
.basket-item-price,
.basket-item-quantity {
	flex: 1;
	margin: auto;
}

.basket-item-image {
	width: 100px;
	background-size: cover;
}

.basket-quantity-input {
	display: block;
	width: 24px;
	height: 28px;
	border-radius: 2px;
	background-color: white;
	color: #1b4040;
	text-align: center;
	border: 1px solid #1b4040;
	margin: auto;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.shop-item-button {
	max-width: 300px;
	background-color: white;
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border: 2px solid #1b4040;
	padding: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	margin-top: 12px;
}

.button-remove {
	max-width: 75px;
	background-color: white;
	color: #1b4040;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border: 2px solid #1b4040;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;

	margin: auto;
}

.button-purchase {
	width: 75%;
	background-color: white;
	color: #1b4040;
	border: 2px solid #1b4040;
	padding: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	margin: 24px auto 24px auto;
}
.shop-item-button:hover,
.button-purchase:hover,
.button-remove:hover {
	background-color: #1b4040;
	color: white;
	border: 2px solid #1b4040;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
